<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sidebar</title>
</head>
<body>
    <aside th:fragment="sidebar" class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0"><em>BlogMania</em> is a sample application as part of
                the course Spring Boot 2 Fundamentals.</p>
        </div>

        <div class="p-3">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
                <li><a href="#">March 2018</a></li>
                <li><a href="#">February 2018</a></li>
                <li><a href="#">January 2018</a></li>
                <li><a href="#">December 2013</a></li>
                <li><a href="#">November 2013</a></li>
                <li><a href="#">October 2013</a></li>
                <li><a href="#">September 2013</a></li>
                <li><a href="#">August 2013</a></li>
                <li><a href="#">July 2013</a></li>
                <li><a href="#">June 2013</a></li>
                <li><a href="#">May 2013</a></li>
                <li><a href="#">April 2013</a></li>
            </ol>
            <!--/*@thymesVar id="allPostsCount" type="java.lang.Integer"*/-->
            <div th:if="${allPostsCount}">
                Total <span th:text="${allPostsCount}" class="badge badge-pill badge-secondary">0</span> posts
            </div>
        </div>
    </aside>
</body>
</html>