<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Input Types and Value Binding Examples</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1>Input Types and Value Binding Examples</h1>
    <ul>
        <li><a th:href="@{/input}" href="#">Input-Elements for Text or Number</a></li>
        <li><a th:href="@{/select}" href="#">Select-Elements for Option Lists</a></li>
        <li><a th:href="@{/textarea}" href="#">Textarea-Elements for Large Text</a></li>
    </ul>
</div>
</body>
</html>