<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<head>
    <title th:text="#{category.page.edit.title}">Category</title>
</head>
<body>
<main layout:fragment="content">
    <div>
        <!-- STEP 10
             Add a form to enter the category name. Use the action @{/categories} in the form.
             Feel free to use Bootstrap to style the input elements. -->

    </div>
</main>
</body>
</html>